.navbar {
    background-color: #fafbfc;
    border-bottom: 2px solid #e1e4e8;
    width: 100%;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    height: 95px;
    margin-bottom: 20px;

    .nav-first-row {
        justify-content: space-between;
    }

    .nav-first-row,
    .nav-second-row {
        display: flex;
        flex-direction: row;
        width: 88%;
        margin: 0 auto;
        padding-top: 10px;

        .repo-link,
        .html-link {
            color: #0366d6;
            text-decoration: none;
            font-size: 18px;
            &:hover {
                text-decoration: underline;
            }

            &:active {
                color: purple;
            }
        }

        .html-link {
            font-weight: bold;
        }
    }
}

.header-anchor {
    text-decoration: none;
    color: #586069;
    margin-right: 5px;
}

.header-item-value {
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 20px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    margin-left: 2px;
}

a {
    text-decoration: none !important;
}

.header-repo-container {
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    border-collapse: collapse;

    .header-repo-tag-container {
        border: 1px solid #cdcfd1;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 2px 0px 0px 2px;
        background-color: #f4f7f9;
        line-height: 20px;
        cursor: pointer;

        &:hover {
            background-color: #e7eaed;
        }

        .header-info-container {
            border: 1px solid #cdcfd1;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 0px 2px 2px 0px;
            line-height: 20px;
            cursor: pointer;
            background-color: #ffffff;
        }
    }
}
